<header>
  <div class="heading">
    <h1 class="title">portfolio</h1>
  </div>
  <div class="navbar">
    <ul class="lists">
      <li class="list">content</li>
      <li class="list">profile</li>
      <li class="list">contact</li>
    </ul>
  </div>
</header>

<div class="contents">
  <div class="first-view">
  <%# トップ画像を表示 %>
  </div>
  <div class="upper-content">
  <%# 作品を表示 %>
  </div>
  <div class="middle-content">
  <%# 経歴を表示 %>
  </div>
  <div class="bottom-content">
  <%# 連絡先を表示 %>
  </div>
</div>

<footer>
</footer>