<header>
  <div class="heading">
    <h1 class="title">Masamichi's Portfolio</h1>
  </div>
  <div class="navbar">
    <ul class="lists">
        <li class="list" id="button1">content</li>
        <li class="list" id="button2">profile</li>
        <li class="list" id="button3">contact</li>
    </ul>
  </div>
</header>

<%# modal %> 
  <div class="modal-wrapper" id="modal1">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times">x</i>
      </div>
      <div id="form">
        <h2>ワケアリ</h2>
        <form action="https://order-app-33910.herokuapp.com/" target="_blank" rel="noopener noreferrer">
          <p><input type="submit" value="このサイトへ" class="submit-btn"></p>
        </form>
      </div>
    </div>
  </div>
 <%# コンテンツができれば追加していく %>
  <div class="modal-wrapper" id="modal2">
    <div class="modal">
      <div class="close-modal">
        <i class="fa fa-2x fa-times">x</i>
      </div>
      <div id="form">
        <h2>Web-view</h2>
        <form action="https://w-v1.herokuapp.com/" target="_blank" rel="noopener noreferrer">
          <p><input type="submit" value="このサイトへ" class="submit-btn"></p>
        </form>
      </div>
    </div>
  </div>
 <%# //コンテンツができれば追加していく //%>
<div class="contents">
  <div class="first-view">
    <h1 class="view-comment">~Wellcome!~</h1>
  </div>
  <div class="upper-content" id="content1">
    <h2 class="heading-name">コンテンツ紹介</h2>
    <ul class="content-lists" >
      <li class="content-list">
        <a href="https://order-app-33910.herokuapp.com/" target="_blank" rel="noopener noreferrer">
          <img src="https://i.gyazo.com/c5e0664debbd420673dd198961b149e2.jpg" alt="top画面" class ="image"> 
        </a>
        <p id="cnt-name1" class="cnt-name">
          <span class="under">ワケアリ</span>
        </p>
      </li>
      <%# コンテンツができれば追加していく %>
       <li class="content-list">
        <a href="https://w-v1.herokuapp.com/" target="_blank" rel="noopener noreferrer">
          <img src="https://i.gyazo.com/e43eabddb720b3b717e74e837153cfe5.jpg" alt="top画面" class ="image"> 
        </a>
          <p id="cnt-name2" class="cnt-name">
            <span class="under">Web-view</span>
          </p>
      </li> 
      <%# //コンテンツができれば追加していく// %>
    </ul>
  </div>
  <div class="middle-content" id="content2">
  <h2 class="heading-name">経歴紹介<h2>
    <ul class="profiles">
      <li class="profile">1982年 福岡県生まれ。</li>
      <li class="profile">22歳〜38歳まで飲食業界に携わる。</li>
      <li class="profile">2020年 一念発起してITエンジニアになることを決意。</li>
      <li class="profile"></li>
      <li class="profile"></li>
    </ul>

  </div>
  <div class="bottom-content" id="content3">
    <h2 class="heading-name">連絡先</h2>
    <ul class="contacts">
      <li class="contact">name</li>
        <div class="states">
          <span class="under-contact">三好正道</span>
        </div> 
      <li class="contact">phone</li>
        <div class="states">
          <span class="under-contact">090-6421-5363</span>
        </div>
      <li class="contact">E-mail</li>
        <div class="states">
          <span class="under-contact">on92.miyoshi.masamichi@gmail.com</span>
        </div>
    </ul>
    <form class="contact-form">
      <textarea placeholder="message" class="large-field"></textarea>
      <input type="submit" value="SEND" class="send">
      <input type="submit" value="topへ" class="btn">
    </form>
  </div>
</div>
<footer>
  <p>~2021 Miyoshi Masamichi~</p>
</footer>