<header>
  <div class="heading">
    <h1 class="title">Masamichi's Portfolio</h1>
  </div>
  <div class="navbar">
    <ul class="lists">
      <li class="list">content</li>
      <li class="list">profile</li>
      <li class="list">contact</li>
    </ul>
  </div>
</header>

<div class="contents">
  <div class="first-view">
    <img src="/assets/portfolio.jpg" alt="top画面" class ="top-image">
  </div>
  <div class="upper-content">
    <h2 class="heading-name">コンテンツ紹介</h2>
    <ul class="content-lists">
      <li class="content-list">
        <img src="https://i.gyazo.com/c5e0664debbd420673dd198961b149e2.jpg" alt="top画面" class ="image">
          <div class="cnt-name">ワケアリ</div>
      </li>
      <li class="content-list">
        <img src="/assets/cafe.jpg" alt="top画面" class ="image">
           <div class="cnt-name">
          <%# second-cntの名前%>
          </div>
      </li>
    </ul>
  </div>
  <div class="middle-content">
  <h2 class="heading-name">経歴紹介<h2>
    <ul class="profiles">
      <li class="profile">1982年 福岡県生まれ。</li>
      <li class="profile">22歳〜38歳まで飲食業界に携わる。</li>
      <li class="profile"></li>
      <li class="profile"></li>
      <li class="profile"></li>
    </ul>

  </div>
  <div class="bottom-content">
    <h2 class="heading-name">連絡先</h2>
    <ul class="contacts">
      <li class="contact">電話番号</li>
      <li class="contact">メールアドレス</li>
    </ul>
    <form class="contact-form">
      <textarea placeholder="message" class="large-field"></textarea>
      <input type="submit" value="SEND" class="send">
    </form>
  </div>
</div>

<footer>
  <p>~2021 Miyoshi Masamichi~</p>
</footer>