<header>
  <div class="heading">
    <h1 class="title">Masamichi's Portfolio</h1>
  </div>
  <div class="navbar">
    <ul class="lists">
      <li class="list">content</li>
      <li class="list">profile</li>
      <li class="list">contact</li>
    </ul>
  </div>
</header>

<div class="contents">
  <div class="first-view">
    <img src="/assets/cafe.jpg" alt="top画面" class ="top-image">
  </div>
  <div class="upper-content">
    <h2 class="heading-name">コンテンツ紹介</h2>
    <ul class="content-lists">
      <li class="content-list">aaa</li>
      <li class="content-list">bbb</li>
    </ul>
  </div>
  <div class="middle-content">
  <h2 class="middle-name">経歴紹介<h2>
    <ul class="abouts">
      <li class="about">1982年 福岡県生まれ。</li>
      <li class="about">22歳〜38歳まで飲食業界に携わる。</li>
      <li class="about"></li>
      <li class="about"></li>
      <li class="about"></li>
    </ul>

  </div>
  <div class="bottom-content">
    <h2 class="bottom-name">連絡先</h2>
    <form class="contact-form">
      <ul class="contacts">
        <li class="contact">電話番号</li>
        <li class="contact">メールアドレス</li>
      <textarea placeholder="message" class="large-field"></textarea>
      <input type="submit" value="SEND" class="send">
    </form>
  </div>
</div>

<footer>
</footer>