* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}

header {
  height: 80px;
  display: flex;
  background-color: darkgray;
}

.heading {
  width: 50vw;
  height: 50px;
}

.title {
  width: 50%;
  margin-left: 30px;
  font-size: 25px;
}

.navbar {
  width: 50vw;
  padding: 20px;
}

.lists {
  display: flex;
  justify-content: space-around;
}

.list {
  border-right: red solid 1px;
  list-style: none;
  font-size: 20px;
}

.contents {
  background-color: grey;
  font-style: italic;
}

.first-view {
  height: 70vh;
  background-image: url(https://i.gyazo.com/63e655668c22a5f5a01f3bf43633dd9a.jpg);
  background-size: cover;
}

.top-image {
  height: 100%;
  width: 100%;
}

.view-comment {
  padding: 30px 0 0 20px;
  font-size: 40px;
}

.upper-content {
  height: 500px;
}

.heading-name {
  font-size: 25px;
  text-align: center;
  border-bottom: gold solid 1px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
}

.content-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}

.content-list {
  height: 200px;
  width: 300px;
  list-style: none;
}

.image {
  height: 200px;
  width: 300px;
  border-radius: 10px;
}

.cnt-name {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  color: yellowgreen;
}

.mb-5 {
  text-align: center;
  color: blue;
}

.middle-content {
  background-color: lightblue;
  height: 500px;
}

.middle-content > .heading-name {
  border-bottom: black solid 1px;
  margin: 0 30px;
}

.profiles {
  text-align: center;
}

.profile {
  list-style: none;
  margin: 10px auto;
}

.bottom-content {
  height: 800px;
  margin: 0 100px;
}

.contacts {
  justify-content: left;
  font-size: 20px;
}

.contact {
  list-style: outside;
  margin: 15px 0;
}

.states {
  border-bottom: gold solid 1px;
  max-width: 40vw;
  min-width: 40vw;
}

.large-field {
  width: 800px;
  height: 250px;
  max-width: 90%;
  font-size: 16px;
  padding: 15px;
  border: 3px solid #b5aaaa;
  display: block;
  margin: 30px auto 30px;
  border-radius: 10px;
}

.send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: green;
  color: white;
  display: block;
  border-radius: 10px;
}

.send:hover {
  background-color: blue;
}

footer {
  background-color: lightgray;
  height: 50px;
  text-align: center;
  color: white;
}

@media (max-width: 599px) {
  .contents {
    background-color: tan;
  }
  .first-view {
    height: 30vh;
  }
  .top-image {
    height: 100%;
    width: 100%;
  }
  .view-comment {
    text-align: center;
    color: goldenrod;
    font-size: 35px;
  }
  .upper-content {
    height: 800px;
  }
  .heading-name {
    font-size: 25px;
    text-align: center;
    border-bottom: blue solid 1px;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.9);
  }
  .cnt-name {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: black;
  }
  .middle-content {
    background-color: chocolate;
    height: 300px;
  }
  .profiles {
    text-align: center;
  }
  .profile {
    list-style: none;
    margin: 10px auto;
  }
  .bottom-content {
    height: 800px;
    margin: 0 0;
    background-color: mediumseagreen;
  }
  .contacts {
    justify-content: left;
    font-size: 20px;
    margin: 0 25px;
  }
  .contact {
    list-style: outside;
    margin: 15px 0;
  }
  .states {
    border-bottom: green solid 1px;
    max-width: 40vw;
    min-width: 40vw;
  }
  .large-field {
    width: 800px;
    height: 250px;
    max-width: 90%;
    font-size: 16px;
    padding: 15px;
    border: 3px solid #b5aaaa;
    display: block;
    margin: 30px auto 30px;
  }
  .send {
    width: 200px;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid white;
    background-color: brown;
    color: white;
    display: block;
  }
  footer {
    background-color: lightgray;
    height: 50px;
    text-align: center;
    color: white;
  }
}
